body
{
	overflow-x: hidden;
	overflow-y: hidden;
}

.john-photo
{
	width: 30%;
	height: auto;
	
	border-radius: 20px;

	box-shadow: 0 0 15px rgba(0, 0, 0, 5);

	transition-property: transform;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}

.john-photo:hover
{
	transform: scale(1.15);
}

.quote-content
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	padding-left: 5%;
	padding-right: 5%;
	
	margin-right: 12.5%;
}

.quote-separator
{
	width: 25%;

	margin-right: 15%;
}
