body
{
	overflow-x: hidden;
	overflow-y: hidden;
}

.john-photo
{
	width: 30%;
	height: auto;
	
	border-radius: 20px;

	box-shadow: 0 0 15px rgba(0, 0, 0, 5);
}

.quote-content
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	padding-left: 5%;
	padding-right: 5%;
	
	margin-right: 12.5%;
}

.quote-separator
{
	width: 25%;

	margin-right: 15%;
}

.content-separator
{
	width: 35%;

	margin-top: 1%;
	margin-bottom: 1%;
}