html, body 
{
	font-family: "Comic Sans MS" !important;
	font-style: normal !important;

	width: 100%;
	height: 100%;
}

body
{
	background-color: #FAF0DE;

	background-repeat: no-repeat;
	background-position: center;

	overflow-x: hidden;
	
	background-size: cover;
}

.main-page-content
{
	background: linear-gradient(70deg, #FAF0DE, #E4D4B5) !important;
	
	margin-left: 20%;
	margin-right: 20%;
	
	margin-top: 2.5%;
	margin-bottom: 1.5%;
	
	padding-top: 0.5%;
	padding-bottom: 1.5%;
	
	border-radius: 20px;

	z-index: 2;

	position: absolute;

	top: 0;
	left: 0;

	box-shadow: 0 0 20px ;
}

.main-content
{
	padding-left: 2%;
	padding-right: 2%;

	padding-top: 0.5%;
	padding-bottom: 0.5%;

	margin-left: 5.5%;
	margin-right: 5.5%;

	margin-top: 1%;
	margin-bottom: 1%;

	text-align: justify;
}

.main-content
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	padding-left: 0%;
	padding-right: 2%;

	margin-left: 5.5%;
	margin-right: 5.5%;

	margin-top: 1%;
	margin-bottom: 1%;

	text-align: justify;
}

hr
{
	color: #696969;
}

.content-separator
{
	width: 35%;

	margin-top: 1%;
	margin-bottom: 1%;
}

.header-content
{
	font-style: bold;
}

.background-image-controller
{
	background-image: url("../images/pages-background/all-pages-background.jpg");

	position: absolute;

	display: block;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;

	z-index: 1;

	top: 0;
    left: 0;

    width: 100%;
    height: 100%;

	min-width: 100%;
    min-height: 100%;

	filter: blur(4px) brightness(60%);

	overflow: hidden;
}
